<h1 class="ui header">Welcome to TwitterGram!</h1>

<img class="ui middle aligned large rounded image" src="http://cdn.ilovefreesoftware.com/wp-content/uploads/2009/09/TwitterGram.png">
 <body style="background-color: #e6ffff">
 </body>
